/* tailwind css */
@custom-variant light (&:where(.light-mode, .light-mode *));
.light-mode body {
  --ui-bg: white;
  --ui-text: black;
}

/* color mode */
.light-mode body {
  background-color: white;
  color: black;
}

/* nuxt ui */
:root {
  --ui-primary: #e91e63;
  --ui-secondary: #ed4b82;
  --ui-accent: #a31545;
}

/* quasar ui */
.body--light {
  --q-primary: var(--ui-primary);
  --q-secondary: var(--ui-secondary);
  --q-accent: var(--ui-accent);
}
