
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-sans:
    "Inter", "Roboto Mono", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}

/* 全局样式 */
body {
  font-family: var(--font-sans);
  line-height: 1.6;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.light-mode body {
  background-color: white;
  color: black;
}

.dark-mode body {
  background-color: black;
  color: white;
}

/* https://ui3.nuxt.dev/getting-started/theme */
:root {
  --ui-primary: #ff69b4;
  --ui-secondary: #f783d0;
}

.dark-theme {
  --ui-primary: #ff69b4;
  --ui-secondary: #f783d0;
}
